@page "/adminSupplierWines"

@using WineSales.Domain.Interactors

@inject IUserInteractor UserInteractor
@inject ISupplierWineInteractor SupplierWineInteractor

@if (nowUser.Role != "admin")
{
    <Jumbotron Background="Background.Light" Margin="Margin.Is4.FromBottom">
        <JumbotronSubtitle>
            Для просмотра этой страницы необходимо войти в аккаунт администратора.
        </JumbotronSubtitle>
    </Jumbotron>
}
else
{
    <Jumbotron Background="Background.Light" Margin="Margin.Is4.FromBottom">
        <JumbotronTitle Size="JumbotronTitleSize.Is4">Все вина</JumbotronTitle>
        <Divider></Divider>
    </Jumbotron>

    <Table>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>Сорт</TableHeaderCell>
                <TableHeaderCell>Цвет</TableHeaderCell>
                <TableHeaderCell>Объем (л)</TableHeaderCell>
                <TableHeaderCell>Сахар</TableHeaderCell>
                <TableHeaderCell>Алкоголь (%)</TableHeaderCell>
                <TableHeaderCell>Выдержка (лет)</TableHeaderCell>
                <TableHeaderCell>Поставщик</TableHeaderCell>
                <TableHeaderCell>Цена (₽)</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @for (int i = 0; i < wines.Count; i++)
            {
                <OneAdminSupplierWine OneWine="wines[i]" SupplierItem=@suppliers[i] Price="prices[i]"></OneAdminSupplierWine>
            }
        </TableBody>
    </Table>
}

@code {
    private List<Wine> wines = new List<Wine>();
    private List<string> suppliers = new List<string>();
    private List<double> prices = new List<double>();

    private User nowUser;

    protected override void OnInitialized()
    {
        nowUser = UserInteractor.GetNowUser();
        (wines, suppliers, prices) = SupplierWineInteractor.GetByAdmin();

        base.OnInitialized();
    }
}
