@page "/supplierSales"

@using WineSales.Domain.Interactors

@inject IUserInteractor UserInteractor
@inject ISaleInteractor SaleInteractor
@inject ISupplierInteractor SupplierInteractor

@if (nowUser.Role != "supplier")
{
<Jumbotron Background="Background.Light" Margin="Margin.Is4.FromBottom">
    <JumbotronSubtitle>
        Для просмотра этой страницы необходимо войти в аккаунт поставщика.
    </JumbotronSubtitle>
</Jumbotron>
}
else if (!supplier.License)
{
    <Jumbotron Background="Background.Light" Margin="Margin.Is4.FromBottom">
        <JumbotronSubtitle>
            Для поставки вин необходима лицензия. Администратор еще не выдал Вам лицензию.
        </JumbotronSubtitle>
    </Jumbotron>
}
else
{
    <Jumbotron Background="Background.Light" Margin="Margin.Is4.FromBottom">
        <JumbotronTitle Size="JumbotronTitleSize.Is4">Мои продажи</JumbotronTitle>
        <Divider></Divider>
    </Jumbotron>
    <Table>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>Сорт</TableHeaderCell>
                <TableHeaderCell>Цвет</TableHeaderCell>
                <TableHeaderCell>Объем (л)</TableHeaderCell>
                <TableHeaderCell>Сахар</TableHeaderCell>
                <TableHeaderCell>Алкоголь (%)</TableHeaderCell>
                <TableHeaderCell>Выдержка (лет)</TableHeaderCell>
                <TableHeaderCell>Цена (₽)</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @for (int i = 0; i < wines.Count; i++)
            {
                <OneSupplierSale OneWine="wines[i]" OnePrice="prices[i]"></OneSupplierSale>
            }
        </TableBody>
    </Table>
}

@code {
    private List<Wine> wines = new List<Wine>();
    private List<Double> prices = new List<Double>();

    private User nowUser;
    private Supplier supplier;

    protected override void OnInitialized()
    {
        nowUser = UserInteractor.GetNowUser();
        int supplierID = nowUser.RoleID;
        supplier = SupplierInteractor.GetByID(supplierID);

        (wines, prices) = SaleInteractor.GetBySupplierID(supplierID);

        base.OnInitialized();
    }
}
