@page "/suppliers"

@using WineSales.Domain.Interactors
@inject IUserInteractor UserInteractor
@inject ISupplierInteractor SupplierInteractor

@if (nowUser.Role != "admin")
{
<Jumbotron Background="Background.Light" Margin="Margin.Is4.FromBottom">
    <JumbotronSubtitle>
        Для просмотра этой страницы необходимо войти в аккаунт администратора.
    </JumbotronSubtitle>
</Jumbotron>
}
else
{
    <Jumbotron Background="Background.Light" Margin="Margin.Is4.FromBottom">
        <JumbotronTitle Size="JumbotronTitleSize.Is4">Поставщики</JumbotronTitle>
        <Divider></Divider>
    </Jumbotron>
    <Table>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>Имя</TableHeaderCell>
                <TableHeaderCell>Страна</TableHeaderCell>
                <TableHeaderCell>Опыт</TableHeaderCell>
                <TableHeaderCell>Лицензия</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (Supplier supplier in suppliers)
            {
                <OneSupplier SupplierItem="supplier"></OneSupplier>
            }
        </TableBody>
    </Table>
}

@code {
    private List<Supplier> suppliers = new List<Supplier>();

    User nowUser;

    protected override void OnInitialized()
    {
        nowUser = UserInteractor.GetNowUser();
        suppliers = SupplierInteractor.GetAll();
        base.OnInitialized();
    }
}
