@page "/wines"

<PageTitle>Вина</PageTitle>

@using WineSales.Domain.Models
@using WineSales.PageComponents
@inject WineSales.Domain.Interactors.ISupplierWineInteractor SupplierWineInteractor

<div class="row">
    <div class="col text-center">
        <h1>Каталог вин</h1>
    </div>
</div>

@if (wines == null || prices == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    @for (int i = 0; i < wines.Count; i++)
    {
        <IndividualWine OneWine="wines[i]" Price="prices[i]"></IndividualWine>       
    }
}

@code {
    private List<Wine>? wines = null;
    private List<Double>? prices = null;

    protected override void OnInitialized()
    {
        (wines, prices) = SupplierWineInteractor.GetAllWine();
    }
}
