@using WineSales.Domain.Interactors
@inject IUserInteractor UserInteractor

<TableRow>
    <TableRowCell>@UserItem.Login</TableRowCell>
    <TableRowCell>@UserItem.Role</TableRowCell>
</TableRow>
<Button Color="Color.Primary" Clicked="@DeleteUser">Удалить аккаунт пользователя</Button>

@code {
    [Parameter] public User UserItem { get; set; }

    private Task DeleteUser()
    {
        UserInteractor.DeleteUser(UserItem);
        return Task.CompletedTask;
    }
}